In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [4]:
persocharacters = pd.read_csv("/Users/macameline/Documents/learn_code/THP_DATA/Projet_finale/Sources_Simpsons/simpsons_characters_categ.csv", sep=",")
persocharacters = persocharacters.rename(columns={"0": "Characters", "1": "Perso"})
persocharacters

,Unnamed: 0,Characters,Perso
0,706,Characters from different countries,Adolf Hitler (Bart vs. Australia)
1,708,Characters from different countries,Ak
2,710,Characters from different countries,Kumiko Albertson
3,711,Characters from different countries,Alex Salmond
4,713,Characters from different countries,Anya
...,...,...,...
3036,6750,American Characters,Belle (senior)
3037,6751,American Characters,Ben (Summer of 4 Ft. 2)
3038,6752,American Characters,Ben Cartwright
3039,6753,American Characters,Ben Guest
3040,6754,American Characters,Ben Matlock

# Répartition selon les caratéristiques des personnages

In [5]:
nbr_characters=persocharacters.Characters.value_counts()
nbr_characters

Adults                                    200
Recurring characters                      200
Self-voicing guest stars                  200
American Characters                       199
Male characters                           199
Seniors                                   199
Female characters                         198
Real world characters                     197
Citizens of Springfield                   196
Children                                  193
African-American Characters               189
Springfield Elementary School students    185
Characters from different countries       118
Teenagers                                 100
Rich Characters                            99
Babies                                     72
Families                                   62
Retired Characters                         58
Major Characters                           49
Main Characters                            43
Immigrants                                 40
Citizens of Shelbyville                    32
African Characters                          9
Nonbinary characters                        4
Name: Characters, dtype: int64

In [6]:
persorank = pd.read_csv("/Users/macameline/Documents/learn_code/THP_DATA/Projet_finale/Sources_Simpsons/simpsons_characters_ranked.csv", sep=",")
persorank = persorank.rename(columns={"character": "perso"})
persorank

    rank                      perso
0     50             Lindsey Naegle
1     49           Sherri and Terri
2     48                Mrs. Hoover
3     47            Cletus Spuckler
4     46                  Otto Mann
5     45      Rod and Todd Flanders
6     44             Kang and Kodos
7     43                   Fat Tony
8     42    Superintendent Chalmers
9     41               Frank Grimes
10    40       Bleeding Gums Murphy
11    39              Agnes Skinner
12    38               Mayor Quimby
13    37              Kent Brockman
14    36              Gil Gunderson
15    35           Dr. Nick Riviera
16    34             Comic Book Guy
17    33               Sideshow Mel
18    32               Nelson Muntz
19    31              Helen Lovejoy
20    30           Luann Van Houten
21    29               Carl Carlson
22    28              Lenny Leonard
23    27                Dr. Hibbert
24    26               Chief Wiggum
25    25              Patty Bouvier
26    24              Selma Bouvier
27    23              Martin Prince
28    22              Barney Gumble
29    21       Groundskeeper Willie
30    20               Troy McClure
31    19           Reverend Lovejoy
32    18                Lionel Hutz
33    17             Maggie Simpson
34    16            Waylon Smithers
35    15               Ralph Wiggum
36    14             Edna Krabappel
37    13            Abraham Simpson
38    12               Sideshow Bob
39    11   Charles Montgomery Burns
40    10           Krusty the Clown
41     9     Apu Nahasapeemapetilon
42     8                Moe Syszlak
43     7               Bart Simpson
44     6            Seymour Skinner
45     5        Milhouse Van Houten
46     4               Ned Flanders
47     3               Lisa Simpson
48     2              Homer Simpson
49     1              Marge Simpson

# Classsement des personnages

In [7]:
rank = persorank.sort_values('rank')
rank

    rank                      perso
49     1              Marge Simpson
48     2              Homer Simpson
47     3               Lisa Simpson
46     4               Ned Flanders
45     5        Milhouse Van Houten
44     6            Seymour Skinner
43     7               Bart Simpson
42     8                Moe Syszlak
41     9     Apu Nahasapeemapetilon
40    10           Krusty the Clown
39    11   Charles Montgomery Burns
38    12               Sideshow Bob
37    13            Abraham Simpson
36    14             Edna Krabappel
35    15               Ralph Wiggum
34    16            Waylon Smithers
33    17             Maggie Simpson
32    18                Lionel Hutz
31    19           Reverend Lovejoy
30    20               Troy McClure
29    21       Groundskeeper Willie
28    22              Barney Gumble
27    23              Martin Prince
26    24              Selma Bouvier
25    25              Patty Bouvier
24    26               Chief Wiggum
23    27                Dr. Hibbert
22    28              Lenny Leonard
21    29               Carl Carlson
20    30           Luann Van Houten
19    31              Helen Lovejoy
18    32               Nelson Muntz
17    33               Sideshow Mel
16    34             Comic Book Guy
15    35           Dr. Nick Riviera
14    36              Gil Gunderson
13    37              Kent Brockman
12    38               Mayor Quimby
11    39              Agnes Skinner
10    40       Bleeding Gums Murphy
9     41               Frank Grimes
8     42    Superintendent Chalmers
7     43                   Fat Tony
6     44             Kang and Kodos
5     45      Rod and Todd Flanders
4     46                  Otto Mann
3     47            Cletus Spuckler
2     48                Mrs. Hoover
1     49           Sherri and Terri
0     50             Lindsey Naegle

In [8]:
persogender = pd.read_csv("/Users/macameline/Documents/learn_code/THP_DATA/Projet_finale/Sources_Simpsons/simpsons_characters.csv", sep=",")
persogender = persogender.replace('m', 'masculin', regex=True)
persogender = persogender.replace('f', 'féminin', regex=True)
persogender

,id,name,normalized_name,gender
0,7,Children,children,NaN
1,12,Mechanical Santa,masculinechanical santa,NaN
2,13,Tattoo Man,tattoo masculinan,NaN
3,16,DOCTOR ZITSOFSKY,doctor zitsofémininsky,NaN
4,20,Students,students,NaN
...,...,...,...,...
6717,5222,Ron Rabinowitz,ron rabinowitz,masculin
6718,5728,Martha Stewart,masculinartha stewart,féminin
6719,1770,Ofémininfémininicer Goodmasculinan,ofémininfémininicer goodmasculinan,masculin
6720,1634,Evan Conover,evan conover,masculin
6721,1868,Agent Johnson,agent johnson,masculin

# Repartition selon le sexe

In [9]:
nbr_gender=persogender.gender.value_counts()
nbr_gender

masculin    252
féminin      71
Name: gender, dtype: int64

In [10]:
data4 = pd.read_csv("/Users/macameline/Documents/learn_code/THP_DATA/Projet_finale/Sources_Simpsons/simpsons_episodes.csv", sep=",")
data4

,id,image_url,imdb_rating,imdb_votes,number_in_season,number_in_series,original_air_date,original_air_year,production_code,season,title,us_viewers_in_millions,video_url,views
0,10,http://static-media.fxx.com/img/FX_Networks_-_...,7.4,1511.0,10,10,1990-03-25,1990,7G10,1,Homer's Night Out,30.30,http://www.simpsonsworld.com/video/275197507879,50816.0
1,12,http://static-media.fxx.com/img/FX_Networks_-_...,8.3,1716.0,12,12,1990-04-29,1990,7G12,1,Krusty Gets Busted,30.40,http://www.simpsonsworld.com/video/288019523914,62561.0
2,14,http://static-media.fxx.com/img/FX_Networks_-_...,8.2,1638.0,1,14,1990-10-11,1990,7F03,2,"Bart Gets an ""F""",33.60,http://www.simpsonsworld.com/video/260539459671,59575.0
3,17,http://static-media.fxx.com/img/FX_Networks_-_...,8.1,1457.0,4,17,1990-11-01,1990,7F01,2,Two Cars in Every Garage and Three Eyes on Eve...,26.10,http://www.simpsonsworld.com/video/260537411822,64959.0
4,19,http://static-media.fxx.com/img/FX_Networks_-_...,8.0,1366.0,6,19,1990-11-15,1990,7F08,2,Dead Putting Society,25.40,http://www.simpsonsworld.com/video/260539459670,50691.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,500,http://static-media.fxx.com/img/FX_Networks_-_...,7.0,580.0,14,500,2012-02-19,2012,PABF07,23,At Long Last Leave,5.77,http://www.simpsonsworld.com/video/230541891832,45226.0
596,502,http://static-media.fxx.com/img/FX_Networks_-_...,7.3,541.0,16,502,2012-03-11,2012,PABF08,23,How I Wet Your Mother,4.97,http://www.simpsonsworld.com/video/230597187582,44818.0
597,511,http://static-media.fxx.com/img/FX_Networks_-_...,6.9,460.0,3,511,2012-11-04,2012,PABF18,24,Adventures in Baby-Getting,5.65,http://www.simpsonsworld.com/video/221688899646,39687.0
598,542,http://static-media.fxx.com/img/FX_Networks_-_...,6.4,473.0,12,542,2014-03-09,2014,SABF08,25,Diggs,2.69,http://www.simpsonsworld.com/video/310529091639,39292.0
599,548,http://static-media.fxx.com/img/FX_Networks_-_...,7.0,504.0,18,548,2014-04-13,2014,SABF13,25,Days of Future Future,3.64,http://www.simpsonsworld.com/video/310257731892,55742.0

# Classement episode

In [11]:
data4.imdb_rating.sort_values(ascending = False)

537    9.2
535    9.2
323    9.1
534    9.1
261    9.0
      ...
71     5.1
193    4.5
234    NaN
235    NaN
236    NaN
Name: imdb_rating, Length: 600, dtype: float64

In [12]:
location = pd.read_csv("/Users/macameline/Documents/learn_code/THP_DATA/Projet_finale/Sources_Simpsons/simpsons_locations_categ.csv", sep=",")
location

      Unnamed: 0  categ_location                  location
0              0  Accommodations        1 Ocean View Drive
1              1  Accommodations  15201 Maple Systems Road
2              2  Accommodations       19 Fish Smell Drive
3              3  Accommodations              257th Street
4              4  Accommodations         316 Pikeland Ave.
...          ...             ...                       ...
1682        1749         Beaches           Dimoxinil Beach
1683        1750         Beaches               Miami Beach
1684        1751         Beaches               Sandy Beach
1685        1752         Beaches         Shelbyville Beach
1686        1753         Beaches         Springfield Beach

[1687 rows x 3 columns]

# Repartition par lieu

In [13]:
nbr_lieu = location.categ_location.value_counts()
nbr_lieu

American Locations                          200
Businesses                                  190
Countries                                   153
Companies                                   147
Accommodations                              134
Location stubs                              113
Homes                                       108
Towns and cities                            104
Springfield Mall                             89
Schools and other educational facilities     57
Medical and Health Facilities                55
Natural Landmarks                            54
Springfield Elementary School                44
Houses with unknown addresses                37
Parks and recreational areas                 29
Museums                                      26
Streets in Springfield                       23
Stadiums                                     21
Prisons                                      16
Arcades and fun centers                      16
Airports                                     13
Camps                                        13
Apartments                                   13
Mountains                                     8
Lakes                                         7
Counties                                      6
Beaches                                       6
Public Facilities                             5
Name: categ_location, dtype: int64

In [14]:
spoken = pd.read_csv("/Users/macameline/Documents/learn_code/THP_DATA/Projet_finale/Sources_Simpsons/simpsons_script_lines.csv", sep=",")
spoken

/var/folders/vy/ftxg8znx7jvfb6xqccmz028c0000gn/T/ipykernel_28077/411459967.py:1: DtypeWarning: Columns (4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  spoken = pd.read_csv("/Users/macameline/Documents/learn_code/THP_DATA/Projet_finale/Sources_Simpsons/simpsons_script_lines.csv", sep=",")

,id,episode_id,number,raw_text,timestamp_in_ms,speaking_line,character_id,location_id,raw_character_text,raw_location_text,spoken_words,normalized_text,word_count
0,9549,32,209,"Miss Hoover: No, actually, it was a little of ...",848000,True,464.0,3.0,Miss Hoover,Springfield Elementary School,"No, actually, it was a little of both. Sometim...",no actually it was a little of both sometimes ...,31
1,9550,32,210,Lisa Simpson: (NEAR TEARS) Where's Mr. Bergstrom?,856000,True,9.0,3.0,Lisa Simpson,Springfield Elementary School,Where's Mr. Bergstrom?,wheres mr bergstrom,3
2,9551,32,211,Miss Hoover: I don't know. Although I'd sure l...,856000,True,464.0,3.0,Miss Hoover,Springfield Elementary School,I don't know. Although I'd sure like to talk t...,i dont know although id sure like to talk to h...,22
3,9552,32,212,Lisa Simpson: That life is worth living.,864000,True,9.0,3.0,Lisa Simpson,Springfield Elementary School,That life is worth living.,that life is worth living,5
4,9553,32,213,Edna Krabappel-Flanders: The polls will be ope...,864000,True,40.0,3.0,Edna Krabappel-Flanders,Springfield Elementary School,The polls will be open from now until the end ...,the polls will be open from now until the end ...,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
158266,9544,32,204,Miss Hoover: (OFF LISA'S REACTION) I'm back.,831000,true,464,3.0,Miss Hoover,Springfield Elementary School,I'm back.,im back,2
158267,9545,32,205,"Miss Hoover: You see, class, my Lyme disease t...",839000,true,464,3.0,Miss Hoover,Springfield Elementary School,"You see, class, my Lyme disease turned out to ...",you see class my lyme disease turned out to be,10
158268,9546,32,206,Miss Hoover: Psy-cho-so-ma-tic.,842000,true,464,3.0,Miss Hoover,Springfield Elementary School,Psy-cho-so-ma-tic.,psy-cho-so-ma-tic,1
158269,9547,32,207,Ralph Wiggum: Does that mean you were crazy?,844000,true,119,3.0,Ralph Wiggum,Springfield Elementary School,Does that mean you were crazy?,does that mean you were crazy,6
158270,9548,32,208,"JANEY: No, that means she was faking it.",845000,true,4,3.0,JANEY,Springfield Elementary School,"No, that means she was faking it.",no that means she was faking it,7

# dialogue par épisode

In [15]:
episode = spoken.episode_id.value_counts()
episode

228    395
1      377
231    376
271    375
28     367
      ...
138    208
568    206
554    204
286    146
189     79
Name: episode_id, Length: 564, dtype: int64

# Personnages

In [16]:
personnage = spoken.raw_character_text.value_counts()
df_personnage = pd.DataFrame({'Nb': personnage}) 
df_personnage['Persos'] = df_personnage.index 
df_personnage.head(15)

                           Nb                  Persos
Homer Simpson           29842           Homer Simpson
Marge Simpson           14159           Marge Simpson
Bart Simpson            13777            Bart Simpson
Lisa Simpson            11502            Lisa Simpson
C. Montgomery Burns      3172     C. Montgomery Burns
Moe Szyslak              2864             Moe Szyslak
Seymour Skinner          2443         Seymour Skinner
Ned Flanders             2145            Ned Flanders
Grampa Simpson           1886          Grampa Simpson
Milhouse Van Houten      1862     Milhouse Van Houten
Chief Wiggum             1836            Chief Wiggum
Krusty the Clown         1772        Krusty the Clown
Nelson Muntz             1174            Nelson Muntz
Lenny Leonard            1166           Lenny Leonard
Apu Nahasapeemapetilon   1006  Apu Nahasapeemapetilon